[Unit]
Description=Droid mount for /firmware
Before=local-fs.target systemd-modules-load.service

[Mount]
What=/dev/mmcblk0p1
Where=/firmware
Type=vfat
Options=ro,shortname=lower,uid=1000,gid=1000,dmask=227,fmask=337
# Options had SELinux context option:  

# Default is 90 which makes mount period too long in case of
# errors so drop it down a notch.
TimeoutSec=10

[Install]
WantedBy=local-fs.target

# From ./out/target/product/hammerhead/root/init.hammerhead.rc :
#     mount vfat /dev/mmcblk0p1 /firmware ro shortname=lower,uid=1000,gid=1000,dmask=227,fmask=337
