[Unit]
Description=Android Debug Bridge

[Service]
Type=simple
Restart=on-failure
ExecStart=/usr/bin/android-gadget-setup adb
StandardOutput=null

[Install]
WantedBy=basic.target
